@{
    ViewBag.Title = "Home Page";
}

<h1>SALUT LES NERDS</h1>
<h1>Je travaille sur me menu principal</h1>

<h2> ta tout effacer salaud</h2>
<h2>alain c'est un nerd</h2>
<h2>Seb y pue PU</h2>
<h2>Les oignons, ca pue.</h2>
<h2>Seb y pue</h2>
<h2>Faut pas etre mechant</h2>
<h2>Faut pas etre mechant</h2>
<h2>La branche a Alain  - test.</h2>
<h2>Le celeri, ça goute le celeri</h2>
<h2>Fuck le celeri, on mange d'la saucisse :)</h2>
<h2>La saucisse c'est bon :)</h2>
<h2>je travaille sur ta branche</h2>
<h2>je travaille sur la branche alex</h2>
<h2>je travaille sur la branche alex</h2>
<h2>je travaille sur la branche alex</h2>
<h2>je travaille sur la branche alex</h2>
<h2>je travaille sur la branche alex</h2>