
@{
    ViewBag.Title = "RenouvAbonnementCancel";
}

    <div class="img-responsive">
        <a href=@Url.Action("Index", "LeveeFonds")> <img src="~/Content/Images/radial_stamp_11919.png" height="500" width="500" alt="Responsive image" margin: 0 auto class="center-block" /> </a>
    </div>

