
@{
    ViewBag.Title = "DonCompleter";




}

<h1 class="titre-cool">Votre don a bien été enregistrer.</h1>
<br />
<br />

    <div class="img-responsive">
        <a href=@Url.Action("Index", "LeveeFonds")> <img src="~/Content/Images/Merci-Source-La-Capitale.png" class="center-block" /></a>
    </div>

