
@{
    ViewBag.Title = "Index";
    int? id = (int?)Session["LeveeDon"];

    LeveeFond levee = Singleton.Instance.db.LeveeFonds.Find(id);
    string idDon = id.ToString();
    string titreProjet = levee.Projet.titre;

}

    <main role="main" class="container-fluid">

        <h1 class="titre-cool">Faire un Don pour le Projet "@titreProjet"</h1>
        <br />
        <br />



        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="BDM43NVESVC9A" />
            <input type="hidden" name="item_name" value="@idDon" />
            <input class="center-block" type="image" src="~/Content/Images/faire-un-don-png-7.png" border="0" name="submit" title="Fair un don avec PayPal" alt="Bouton Faire un don avec PayPal" />
            <img alt="" border="0" src="https://www.sandbox.paypal.com/fr_CA/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </main>
